<ion-item-sliding>
    <ion-item (click)="moreBrokerOptions(broker?.$key)">
        <ion-grid>
                <ion-row>
                    <ion-col width-30>
                        <h2 class="card-title"><ion-icon name="md-share" [style.color]="broker?.isActive ? 'green' : 'red'" item-left></ion-icon>{{broker?.fullName}} {{broker?.firstName}} {{broker?.lastName}}</h2>
                        <p>{{broker?.title}}</p>
                    </ion-col>
                    <ion-col>
                        <ion-icon class="icon-item" color="menu" item-right name="logo-buffer">
                            <ion-badge class="badge-item" color="danger">{{(broker.leaseholds)?.length}}</ion-badge>
                        </ion-icon>
                    </ion-col>
                </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item-options *ngIf="addOptions">
        <button ion-button icon-only color="light" (click)="addBroker(broker?.$key)"><ion-icon name="add-circle"></ion-icon><span class="slidingAdd">Add</span></button>
    </ion-item-options>
</ion-item-sliding>