<ion-header>
    <ion-navbar color="listings">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="createProperty()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="viewMode==='list'">
        <ion-list-header>
            Total Properties
            <ion-icon name="home" color="primary" item-left></ion-icon>
            <ion-badge color="secondary" item-right>{{totalProperties}}</ion-badge>
        </ion-list-header>
        <property-card *ngFor="let property of (propertiesVM | async)" [property]="property"></property-card>
    </ion-list>
    <div *ngIf="viewMode==='map'" id="map"></div>
</ion-content>
<ion-footer padding>
    <ion-segment>
        <ion-segment-button color="listings" value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="globe"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>