<ion-grid>
    <ion-item-sliding>
        <ion-item no-lines (click)="moreRenterOptions(renter?.$key)">
            <ion-row class="left-border-primary">
                <ion-col width-30>
                    <h2 class="card-title">
                        <ion-icon name="person" [style.color]="renter?.isActive ? 'green' : 'red'" item-left></ion-icon>{{renter?.title}}
                        <span class="info">{{renter?.type}}</span></h2>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row text-center>
                <ion-col>
                    <ion-icon class="icon-item" (click)="viewLeaseholds()" color="menu" item-right name="logo-buffer">
                        <ion-badge class="badge-item" color="danger">{{(!renter?.leaseholds) ? 0 : (renter.leaseholds)?.length}}</ion-badge>
                    </ion-icon>
                    <p>Leaseholds</p>
                </ion-col>
                <ion-col>
                    <ion-icon class="icon-item" (click)="viewContracts()" color="menu" item-right name="albums">
                        <ion-badge class="badge-item" color="danger">{{(!renter?.contracts) ? 0 : (renter.contracts)?.length}}</ion-badge>
                    </ion-icon>
                    <p>Contracts</p>
                </ion-col>
                <ion-col>
                    <ion-icon class="icon-item" (click)="viewPayments()" color="menu" item-right name="logo-euro">
                        <ion-badge class="badge-item" color="danger">{{(!renter?.payments) ? 0 : (renter.payments)?.length}}</ion-badge>
                    </ion-icon>
                    <p>Payments</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-options *ngIf="addOptions">
            <button ion-button icon-only color="light" (click)="addRenter(renter?.$key, contactId)"><ion-icon name="add-circle"></ion-icon><span class="slidingAdd">Add</span></button>
        </ion-item-options>
    </ion-item-sliding>
</ion-grid>