<ion-header>
    <ion-navbar color="secondary">
        <ion-title>{{(property$ | async)?.title}} - {{(property$ | async)?.type}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="morePropertyOptions('(property$ | async)'?.$key)">
        <ion-icon name="settings"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card>
        <img [src]="(property$ | async)?.image"/>
        <ion-card-content>
            <h2 class="card-title">{{(property$ | async)?.title}}</h2>
            <p>{{(property$ | async)?.type}}, {{(property$ | async)?.address}}</p>
        </ion-card-content>
        <ion-list>
            <ion-item>
                <ion-icon color="menu" item-left name="logo-buffer"></ion-icon>
                <h3>Leaseholds</h3>
                <ion-note item-right>{{leaseholds?.length}}</ion-note>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-list>
        <ion-list-header>
            Leasehold List
        </ion-list-header>
        <!--<ion-item-sliding>-->
            <leasehold-card *ngFor="let leasehold of leaseholds" [leasehold]="leasehold" ></leasehold-card>
            <!--<leasehold-card *ngFor="let leasehold of leaseholds" [leasehold]="leasehold" (click)="moreLeaseholdOptions(leasehold)"></leasehold-card>-->
            <!--<ion-item *ngFor="let leasehold of leaseholds" (click)="moreLeaseholdOptions(leasehold)">
                <ion-icon *ngIf="leasehold.isRented" name="logo-buffer" color="danger" item-left></ion-icon>
                <ion-icon *ngIf="!leasehold.isRented" name="logo-buffer" color="secondary" item-left></ion-icon>
                <ion-row>
                    <ion-col>
                        Type: <strong> {{leasehold?.type}}</strong>
                    </ion-col>
                    <ion-col>
                        Identify: <strong> {{leasehold?.code}}</strong>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Size: <strong> {{leasehold?.size}} m</strong>
                    </ion-col>
                    <ion-col>
                        Rent:
                        <ion-badge color="danger" item-right> {{leasehold?.rentAmount}} €</ion-badge>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only color="danger" (click)="releaseLeasehold(leasehold.$key)" *ngIf="leasehold?.isRented">Αφαίρεση</button>
            </ion-item-options>
        </ion-item-sliding>-->
    </ion-list>
</ion-content>