<ion-item-sliding>
        <ion-item (click)="moreOwnerOptions(owner?.$key)">
                <ion-icon name="contact" [style.color]="owner?.isActive ? 'green' : 'red'" item-left></ion-icon>
                <h2 class="card-title">{{owner.title}}</h2>
                <p>{{owner?.type}}
                        <ion-icon class="icon-item" color="menu" item-right name="logo-buffer">
                                <ion-badge class="badge-item" color="danger">{{(owner.leaseholds)?.length}}</ion-badge>
                        </ion-icon>
                </p>
        </ion-item>
        <ion-item-options *ngIf="addOptions">
                <button ion-button icon-only color="light" (click)="addOwner(owner?.$key)"><ion-icon name="add-circle"></ion-icon><span style="margin-right:10px;">Add</span></button>
        </ion-item-options>
</ion-item-sliding>