<ion-header>
    <ion-navbar color="listings">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)"></ion-searchbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="createPayment()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list-header>
      Total Payments
      <ion-icon name="logo-euro" color="primary" item-left></ion-icon>
      <ion-badge color="secondary" item-right>{{!totalPayments ? 0 : totalPayments}}</ion-badge>
    </ion-list-header>
    <ion-list>
        <ion-list-header>
            Unpaid Payments {{totalPayments}}
        </ion-list-header>
        <ion-item *ngFor="let payment of (paymentsVM | async )" (click)="morePaymentOptions(payment?.$key)" [class.hide]="payment?.isPaid==true">
            <ion-icon name="timer" [style.color]="!payment?.isPaid ? 'red' : 'green'" item-left></ion-icon>
            <h2>{{payment?.deptDate}}</h2>
            <h3>Total: <strong>€ {{payment?.paidAmount}}</strong></h3>
            <p>Company: <strong>{{(payment.property)?.title}}</strong> - Type: <strong>{{payment?.type}}</strong></p>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            Paid Payments
        </ion-list-header>
        <ion-item *ngFor="let payment of (paymentsVM | async )" (click)="goToPaidPayment(payment?.$key)" [class.hide]="payment?.isPaid==false">
            <ion-icon name="timer" [style.color]="payment?.isPaid ? 'green' : 'red'" item-left></ion-icon>
            <h2>{{payment?.deptDate}}</h2>
            <h3>Total: <strong>€ {{payment?.paidAmount}}</strong></h3>
            <p>Company: <strong>{{(payment.property)?.title}}</strong> - Type: <strong>{{payment?.type}}</strong></p>
        </ion-item>
    </ion-list>
</ion-content>
