<ion-header>
  <ion-navbar>
    <ion-title>{{(leasehold$ | async)?.title}} - {{(leasehold$ | async)?.type}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="morePropertyOptions('(property$.$key | async)'?.$key)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        Leasehold Information
        <!--<ion-icon name="navigate" color="primary" item-right></ion-icon>-->
      </ion-item>
    </ion-card-header>
    <ion-list>
      <ion-item text-wrap>
        <ion-icon color="primary" name="home" item-left></ion-icon>
        Tiltle: {{(leasehold$ | async)?.title}}
      </ion-item>
      <ion-item>
        <ion-icon color="secondary" name="logo-buffer" item-left></ion-icon>
        Type: {{(leasehold$ | async)?.type}}
      </ion-item>
      <ion-item>
        <ion-icon color="dark" name="key" item-left></ion-icon>
        Address: {{(leasehold$ | async)?.code}}
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-list>
    <ion-list-header>
      Contracts
      <ion-icon item-left name="albums" color="primary"></ion-icon>
      <ion-badge item-right>{{contracts?.length}} </ion-badge>
    </ion-list-header>
    <ion-item *ngIf="!contracts">
      Contract's info not yet inserted!
      <button ion-button small>Insert Contract</button>
    </ion-item>
    <ion-item-sliding>
      <ion-item *ngFor="let contract of contracts" (click)="moreContractOptions(contract?.$key)">
        <ion-icon *ngIf="!contract.isActive" name="book" color="danger" item-left></ion-icon>
        <ion-icon *ngIf="contract.isActive" name="book" color="secondary" item-left></ion-icon>
        <ion-row>
          <ion-col>
            Duration: <strong> {{contract?.initialDuration}} </strong>
          </ion-col>
          <ion-col>
            Rent: <strong> {{contract?.contractAmount}}</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Start: <strong> {{contract?.startDate}} m</strong>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="releaseContract(contract?.$key)" *ngIf="leasehold?.isRented">Αφαίρεση</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Renters
      <ion-icon item-left name="people" color="primary"></ion-icon>
      <ion-badge item-right>{{renters?.length}} </ion-badge>
    </ion-list-header>
    <ion-item *ngIf="!renters">
      Renter's info not yet inserted!
      <button ion-button small *ngIf="contract$" (click)="insertRenter()">Insert Renter</button>
    </ion-item>
    <ion-item *ngFor="let renter of renters" (click)="moreRenterOptions()">
      <ion-icon *ngIf="!renter.isActive" name="person" color="danger" item-left></ion-icon>
      <ion-icon *ngIf="renter.isActive" name="person" color="secondary" item-left></ion-icon>
      <ion-row>
        <ion-col>
          Title: <strong> {{renter?.title}} </strong>
        </ion-col>
        <ion-col>
          Type: <strong> {{renter?.type}}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Website: <strong> {{renter?.website}} m</strong>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Owners
      <ion-icon item-left name="contacts" color="primary"></ion-icon>
      <ion-badge item-right>{{owners?.length}} </ion-badge>
    </ion-list-header>
    <ion-item *ngIf="!owners">
      Owners's info not yet inserted!
      <button ion-button small>Insert Owner</button>
    </ion-item>
    <ion-item *ngFor="let owner of owners" (click)="moreOwnerOptions(owner?.$key)">
      <ion-icon *ngIf="!owner.isActive" name="person" color="danger" item-left></ion-icon>
      <ion-icon *ngIf="owner.isActive" name="person" color="secondary" item-left></ion-icon>
      <ion-row>
        <ion-col>
          Title: <strong> {{owner?.title}} </strong>
        </ion-col>
        <ion-col>
          AFM: <strong> {{owner?.afm}}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Quota: <strong> {{owner?.quota}} %</strong>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>