<ion-item (click)="moreLeaseholdOptions(leasehold?.$key)">
  <ion-icon name="logo-buffer" [style.color]="!(leasehold)?.isRented ? 'green' : 'red'" item-left></ion-icon>
  <h2>{{leasehold?.title}}</h2>
  <p>{{leasehold?.type}} - ({{leasehold?.code}}) - Asking: {{leasehold?.rentAmount}}
    <ion-icon name="logo-euro"></ion-icon>
  </p>
</ion-item>
<ion-list>

  <ion-item>
    <ion-icon item-left name="moon"></ion-icon>
    <h3>Offices</h3>
    <ion-note item-right>{{leasehold?.code}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon item-left name="leaf"></ion-icon>
    <h3>Bathrooms</h3>
    <ion-note item-right>{{leasehold?.code}}</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon item-left name="pricetag"></ion-icon>
    <h3>Asking Price</h3>
    <ion-note item-right>{{leasehold?.rentAmount}}</ion-note>
  </ion-item>
  <button ion-item (click)="openBrokerDetail(leasehold?.broker)">
                <ion-avatar item-left>
                    <img [src]="'assets/images/ninja.png'"/>
                </ion-avatar>
                <h2>{{leasehold?.code}}</h2>
                <p>{{leasehold?.code}}</p>
            </button>
</ion-list>

<ion-item>
  <button ion-button icon-left (click)="favorite(leasehold)" clear item-left>
                <ion-icon name="star"></ion-icon>
                Favorite
            </button>
  <button ion-button icon-left (click)="share(leasehold)" clear item-right>
                <ion-icon name="share"></ion-icon>
                Share
            </button>
</ion-item>