<ion-item (click)="moreLeaseholdOptions(leasehold?.$key)">
  <ion-grid>
    <ion-row>
      <ion-col width-25> 
        <h2 class="card-title"> <ion-icon name="logo-buffer" [style.color]="!leasehold?.isRented ? 'green' : 'red'" item-left></ion-icon>{{leasehold?.code}}</h2>
        <p>{{leasehold?.type}} - {{leasehold?.rentAmount}}
          <ion-icon name="logo-euro"></ion-icon>
        </p>
      </ion-col>
      <ion-col>
          <ion-icon class="icon-item" color="menu" item-right name="people">
            <ion-badge class="badge-item" color="danger">{{(!leasehold?.renters) ? 0 : (leasehold.renters)?.length}}</ion-badge>
          </ion-icon>
          <ion-icon class="icon-item" color="menu" item-right name="contacts">
            <ion-badge class="badge-item" color="danger">{{(!leasehold?.owners) ? 0 : (leasehold.owners)?.length}}</ion-badge>
          </ion-icon>
          <ion-icon class="icon-item" color="menu" item-right name="md-share">
            <ion-badge class="badge-item" color="danger">{{(!leasehold?.brokers) ? 0 : (leasehold.brokers)?.length}}</ion-badge>
          </ion-icon>
          <ion-icon class="icon-item" color="menu" item-right name="albums">
            <ion-badge class="badge-item" color="danger">{{(!leasehold?.contracts) ? 0 : (leasehold.contracts)?.length}}</ion-badge>
          </ion-icon>
          <ion-icon class="icon-item" color="menu" item-right name="logo-euro">
            <ion-badge class="badge-item" color="danger">{{(!leasehold?.payments) ? 0 : (leasehold.payments)?.length}}</ion-badge>
          </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>